* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.carousel-cell {
  width: 100%;
}

.carousel-image {
  width: 100%;
  object-fit: contain;
  /* height: 600px; */
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid red;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: red;
}

nav {
  width: 100%;

  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: black;
}

nav .logo {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
